{% extends 'html/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="card col-md-7 mx-auto shadow-lg bg-dark">
        <div class="card-body">
            <h3 style="color:pink; text-align: center;">Contact Page</h3>
            <br>
            <div class="row" style="text-align: center;">
                <div class="col bg-danger m-4 rounded-lg">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.U4iIJMJKneJXcU9G49Jv0wHaHa&pid=Api&P=0&h=180" alt="Location" height="45px" width="40%" class="mt-2 rounded-circle">
                    <p><b><i>SRM University AP,<br>Mangalagiri,<br>Guntur District,<br>Andhra Pradesh</i></b></p>
                </div>
                <div class="col bg-primary m-4 rounded-lg">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.QfXadb-tZxfhwrmWHBStPAHaHa&pid=Api&P=0&h=180" alt="Phone" height="45px" width="40%" class="mt-2 rounded-circle">
                    <p><strong>Mobile Number:</strong><i> 1234512345</i></p>
                </div>
                <div class="col bg-warning m-4 rounded-lg">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.A1l20wxJwyPkNcoFkBWb_wHaHa&pid=Api&P=0&h=180" alt="Mail" height="50px" width="40%" class="mt-2 rounded-pill">
                    <p><strong>Email Id:</strong><i> abcd@gmail.com</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
