{% extends 'html/base.html' %}
{% block title %}Update Booking{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="card col-md-5 mx-auto shadow-lg">
        <div class="card-body">
            <h3>Update My Booking</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for i in h %}
                    {{i}}
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <input type="reset" value="Clear" class="form-control btn btn-outline-danger">
                    </div>
                    <div class="col">
                        <input type="submit" value="Update" class="form-control btn btn-outline-info">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}