{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <h1 style="color:rgb(246, 15, 226);text-align:center;font-size:300%;border: 5px solid rgb(173, 173, 225);padding:5px;margin-top:40px;margin-right:920px;margin-left: 10px;background-color: black;">Stay Management System</h1> -->
<!-- <div class="container-fluid mt-2">
    <div class="card col-md-5 mx-auto bg-transparent">
        <div class="card-body">
            
<img src="https://besthqwallpapers.com/Uploads/29-12-2019/117181/thumb2-haven-4k-wallpapers-with-names-female-names-haven-name.jpg" width="70%" height="200px" class="mx-5 bg-transparent rounded-pill" style="opacity: 1;">
        </div>
    </div>
</div> -->
{% endblock %}