{% load static %}
<nav class="navbar navbar-expand-md navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'hm' %}">
      <img src="{% static 'images/icons/hotel.jpeg' %}" class="rounded-circle" width="50px" height="40px"></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'abt' %}"><b>About</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'cnt' %}"><b>Contact</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/mail/' %}active{% endif %}" href="{% url 'ml' %}"><b>Mail</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/register/' %}active{% endif %}" href="{% url 'reg' %}"><b>Register</b></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}"><b>Home</b></a>
        </li>
        {% if request.user.role1 == 'Guest' or request.user.role1 == 'User' or request.user.role1 == 'Guest' %}
        {% if not request.user.is_superuser and request.user.role1 == 'Guest' %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/mail/' %}active{% endif %}" href="{% url 'ml' %}"><b>Mail</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/prices/' %}active{% endif %}" href="{% url 'pr' %}"><b>Prices</b></a>
        </li>
        {% elif request.user.role1 == 'User' %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/mail/' %}active{% endif %}" href="{% url 'ml' %}"><b>Mail</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dshbd' %}"><b>Dashboard</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/feedback/' %}active{% endif %}" href="{% url 'fd' %}"><b>Feedback</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/roomnum/' %}active{% endif %}" href="{% url 'rn' %}"><b>Allocations</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/rooms/' %}active{% endif %}" href="{% url 'rmd' %}"><b>Hotel Rooms</b></a>
        </li>
        
        {% endif %}
        {% endif %}
        {% if request.user.role1 == 'Staff' %}
        <!-- <li class="nav-item">
          <a class="nav-link {% if request.path == '/duty/' %}active{% endif %}" href="{% url 'dt' %}"><b>Duty</b></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/stffb/' %}active{% endif %}" href="{% url 'sfb' %}"><b>Reviews</b></a>
        </li>
        <li class="nav_item">
          <a class="nav-link {% if request.path == '/salary/' %}active{% endif %}" href="{% url 'sl' %}"><b>Salary</b></a>
        </li>
        {% if request.user.role2 == 'Receptionist' %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/userlist/' %}active{% endif %}" href="{% url 'usrl' %}"><b>User list</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/roomnum/' %}active{% endif %}" href="{% url 'rn' %}"><b>Allocations</b></a>
        </li>
        {% endif %}
        {% endif %}
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/rblist/' %}active{% endif %}" href="{% url 'rbl' %}"><b>Room Requests</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/roomnum/' %}active{% endif %}" href="{% url 'rn' %}"><b>Allocations</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/userlist/' %}active{% endif %}" href="{% url 'usrl' %}"><b>User list</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/staff/' %}active{% endif %}" href="{% url 'staff' %}"><b>Update Staff</b></a>
          </li>
          <li class="nav_item">
            <a class="nav-link {% if request.path == '/salary/' %}active{% endif %}" href="{% url 'sl' %}"><b>Salary</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/stffb/' %}active{% endif %}" href="{% url 'sfb' %}"><b>Reviews</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/rooms/' %}active{% endif %}" href="{% url 'rmd' %}"><b>Hotel Rooms</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/prices/' %}active{% endif %}" href="{% url 'pr' %}"><b>Prices</b></a>
          </li>

        {% endif %}
      {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto" style="margin-right:120px">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'log' %}"><b>Login</b></a>
        </li>
        {% else %}
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            <b>
              Welcome {% if user.is_superuser %}
                      Admin
                    {% else %}
                      {{request.user.role1}}
                    {% endif %} 
            </b>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'pfle' %}">Profile</a>
            <a class="dropdown-item {% if request.path == '/changepass/' %}active{% endif %}" href="{% url 'chpass' %}">Change Password</a>
            <a class="dropdown-item {% if request.path == '/logout/' %}active{% endif %}" href="{% url 'logt' %}">Logout</a>
          </div>
        </div>
        {% endif %}
      </ul>
    </div>
</nav>